// This file contains all the media queries for the entire app


// if the screen is less than 433px 
  @media only screen and (max-width: 433px) {
    body {
       // for feed page and remove overflow
      //  .feed-responsiveOverflow {
      //   overflow: "auto";
        
      // }
      
      // for search bar
      .searchBar.responsive {
        max-width: 360px;
        width: 100%;  
      }

   
      #refreshIcon {
        margin-left: 160px;
      }

      .searchError {
        max-width: 385px;
      }

      //#profile-responsive {
        //padding-top: 175px;
        //height: 100vh;
        //padding-bottom: 175px;
      //}
    }
  }

  // if the screen is less than 400px 
  @media only screen and (max-width: 400px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 320px;
        width: 100%;
      }

      // styling for searchBar on Feed page
      .searchError {
        max-width: 340px;
      }


      #refreshIcon {
        margin-left: 150px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }

   // if the screen is less than  395px
   @media only screen and (max-width: 395px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 340px;
        width: 100%;
      }

      // styling for searchBar on Feed page
      .searchError {
        max-width: 355px;
      }


      #refreshIcon {
        margin-left: 150px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }

     // if the screen is less than  385px 
     @media only screen and (max-width: 385px) {
      body {
        // for search bar
        .searchBar.responsive {
          max-width: 329px;
          width: 100%;
        }
  
        // styling for searchBar on Feed page
        .searchError {
          max-width: 340px;
        }
  
  
        #refreshIcon {
          margin-left: 150px;
        }
  
        //#profile-responsive {
          //padding-top: 125px;
          //height: 100vh;
          //padding-bottom: 125px;
        //}
      }
    }


  // if the screen is less than 376px,
  @media only screen and (max-width: 376px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 323px;
        width: 100%;
        // border: 1px solid red;
      }

       // styling for searchBar on Feed page
       .searchError {
        max-width: 340px;
      }

      #refreshIcon {
        margin-left: 140px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }

  @media only screen and (max-width: 370px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 303px;
        width: 100%;
        // border: 3px solid green;
      }

       // styling for searchBar on Feed page
       .searchError {
        max-width: 325px;
      }

      #refreshIcon {
        margin-left: 133px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }


   // if the screen is less than 359px, the search bar will be 250px
   @media only screen and (max-width: 359px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 308px;
        width: 100%;
        // border: 4px solid orange;
      }

      #refreshIcon {
        margin-left: 130px;
      }
      

      // #profile-responsive {
      //   border: 5px solid red
      // }
    }
  }

    // if the screen is less than 320px 
    @media only screen and (max-width: 320px) {
      body {
        // for search bar
        .searchBar.responsive {
          max-width: 270px;
          width: 100%;

        }

        // refresh icon
        #refreshIcon {
          margin-left: 120px;
        }

        // search error 
        .searchError {
          max-width: 295px;
          width: 100%;
        }

        // #profile-responsive {
        //   padding: 340px 0 340px;
        //   border: 10px solid red;
        //   margin-top: 100px;
        // }
      }
    }

    // screen for 280px
    @media  only screen and (max-width: 280px) {
      body {
        // for search bar
        .searchBar.responsive {
          max-width: 240px;
          width: 100%;
        }

        // refresh icon
        #refreshIcon {
          margin-left: 110px;
        }

        // search error 
        .searchError {
          max-width: 250px;
          width: 100%;
        }

        // #profile-responsive {
        //   padding: 340px 0 340px;
        //   border: 10px solid red;
        //   margin-top: 100px;
        // }
      }
    }
      
    


///////////////////////////////////////////////////////////////////////////////
    //  adjust padding on top and bottom of profile page for larger screens
    @media only screen and (min-width: 600px) and (max-width: 2000px) {
      body {
        #profile-responsive {
          margin-top: 73px;
          padding: 200px 0 200px;
          // border: 10px solid orange;
        }
      }
    }

    // adjust padding on top and bottom of profile page for medium screens
    @media only screen and (min-width: 361px) and (max-width: 599px) {
      body {
        #profile-responsive {
          margin-top: 65px;
          padding: 275px 0 275px;
          // border: 10px solid purple;
        }
      }
    }

    // adjust padding on top and bottom of profile page for smaller screens
    @media only screen and (min-width: 320px) and (max-width: 360px) {
      body {
        #profile-responsive {
          margin-top: 65px;
          padding: 300px 0 300px;
          // border: 10px solid green;
        }
      }
    }
//////////////////////////////////////////////////////////////////////////////////
  // main styling for whole app within body
   body {
        // profile page section
        .profile-info {
          color: orange;
          font-size: 15px;
        }

        .profile-container {
          // border: 10px solid green;
        }

        .searchBar {
          max-width: 410px;
          width: 100%;         
        }
        
  
        .searchIcon {
          color: orange;
          position: fixed;
          display: block;
          top: 140px;
          // zIndex: "100",
          margin-left: 180px;
          font-size: 75px;
          cursor: pointer;
        }

        .errorMessage {
          padding-left: 20px;
        }

        
      // share button styling on post card and it works on mobile as well
      .shareButtonContainer {
        box-shadow:  0px 0px 12px 0px gray;
        text-align: center;
        padding: 5px;
        max-width: 400px;
        width: 100%;
      }

  
      // added this to remove scrollbar on search results when on mobile phones
      .feed-responsiveOverflow {
        height: auto;
      }
   }