// responsive query for the NavbarSearch Post 
// if the screen is less than 451px, the search bar will be 350px
// @media only screen and (max-width: 599px) {
//     body {

     

//       // for search bar
//       .searchBar.responsive {
//         max-width: 390px;
//         width: 100%;
       
//       }
//       #refreshIcon {
//         margin-left: 175px;
//       }

//       #profile-responsive {
//         padding: 175px 0 175px;
//         border: 10px solid red;
//       }
//     }
//   }

// if min 320 and max 599
@media only screen and (min-width: 320px) and (max-width: 599px) {
  body {
    // for search bar
    .searchBar.responsive {
      max-width: 390px;
      width: 100%;
     
    }
    #refreshIcon {
      margin-left: 175px;
    }

    #profile-responsive {
      padding: 50px 0 50px;
      border: 10px solid green;
    }
  }
}

  @media only screen and (max-width: 433px) {
    body {
       // for feed page and remove overflow
       .feed-responsiveOverflow {
        overflow: "auto"
      }
      
      // for search bar
      .searchBar.responsive {
        max-width: 355px;
        width: 100%;
       
      }
      #refreshIcon {f
        margin-left: 160px;
      }

      //#profile-responsive {
        //padding-top: 175px;
        //height: 100vh;
        //padding-bottom: 175px;
      //}
    }
  }

  // if the screen is less than 400px, the search bar will be 300px
  @media only screen and (max-width: 400px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 328px;
        width: 100%;
      }

      // styling for searchBar on Feed page
      .searchError {
        max-width: 340px;
      }


      #refreshIcon {
        margin-left: 150px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }

  // if the screen is less than 350px, the search bar will be 250px
  @media only screen and (max-width: 375px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 300px;
        width: 100%;
        background: green;
      }

       // styling for searchBar on Feed page
       .searchError {
        max-width: 310px;
      }

      #refreshIcon {
        margin-left: 10px;
      }

      //#profile-responsive {
        //padding-top: 125px;
        //height: 100vh;
        //padding-bottom: 125px;
      //}
    }
  }

   // if the screen is less than 361px, the search bar will be 250px
   @media only screen and (max-width: 361px) {
    body {
      // for search bar
      .searchBar.responsive {
        max-width: 308px;
        width: 100%;
        background: red;
      }
      #refreshIcon {
        margin-left: 130px;
      }

      // #profile-responsive {
      //   padding-top: 300px;
      //   height: 100vh;
      //   padding-bottom: 300px;
      // }
    }
  }

    // if the screen is less than 320px, the search bar will be 250px
    @media only screen and (max-width: 320px) {
      body {
        // for search bar
        .searchBar.responsive {
          max-width: 260px;
          width: 100%;
          background: purple;
        }

      

        // #profile-responsive {
        //   padding: 340px 0 340px;
        //   border: 10px solid red;
        //   margin-top: 100px;
        // }
          
        
      }
    }

    // media query for screens larger than 1000px
    // @media only screen and (max-width: 1280px) {
    //   body {
    //     #profile-responsive {
    //       margin-top: 73px;
    //       padding: 100px 0 100px;
    //       border: 10px solid orange;
    //     }
    //   }
    // }

    // media query if min 451 and max 1280
    @media only screen and (min-width: 600px) and (max-width: 1280px) {
      body {
        #profile-responsive {
          margin-top: 73px;
          padding: 100px 0 100px;
          border: 10px solid orange;
        }
      }
    }

  // main styling for whole app within body
   body {
        // profile page section
        .profile-info {
          color: orange;
          font-size: 15px;
        }

        .profie-container {
          border: 10px solid green;
        }

        .searchBar {
          max-width: 410px;
          width: 100%;         
        }
        
  
        .searchIcon {
          color: orange;
          position: fixed;
          display: block;
          top: 140px;
          // zIndex: "100",
          margin-left: 180px;
          font-size: 75px;
          cursor: pointer;
        }

        .errorMessage {
          padding-left: 20px;
        }

        
      // share button styling on post card and it works on mobile as well
      .shareButtonContainer {
        box-shadow:  0px 0px 12px 0px gray;
        text-align: center;
        padding: 5px;
        max-width: 400px;
        width: 100%;
      }

  
      // added this to remove scrollbar on search results when on mobile phones
      .feed-responsiveOverflow {
        height: auto;
      }
   }